{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "finnhub.io",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "extraDocs": [
    {
      "section": "Websocket",
      "subSection": [
        {
          "navHeader": "Trades",
          "urlId": "websocket-trades",
          "summary": "Trades - Last Price Updates",
          "title": "Websocket - Realtime streaming for US Full SIP, LSE, Forex and Crypto",
          "highUsage": "High Usage",
          "description": "<p>Stream real-time trades for US stocks, forex and crypto. Trades might not be available for some forex and crypto exchanges. In that case, a price update will be sent with volume = 0. A message can contain multiple trades. 1 API key can only open 1 connection at a time.</p> <p>The following FX brokers do not support streaming: FXCM, Forex.com, FHFX. To get latest price for FX, please use the Forex Candles or All Rates endpoint.</p>",
          "method": [
            "Websocket"
          ],
          "examples": [
            {
              "url": "wss://ws.finnhub.io?token=<token>",
              "text": "wss://ws.finnhub.io"
            }
          ],
          "arguments": null,
          "responseAttributes": [
            {
              "name": "type",
              "type": "string",
              "description": "Message type."
            },
            {
              "name": "data",
              "type": "list",
              "description": "List of trades or price updates.",
              "item": {
                "type": "object",
                "definition": "Trade",
                "attributes": [
                  {
                    "name": "s",
                    "type": "string",
                    "description": "Symbol."
                  },
                  {
                    "name": "p",
                    "type": "float",
                    "description": "Last price."
                  },
                  {
                    "name": "t",
                    "type": "int",
                    "description": "UNIX milliseconds timestamp."
                  },
                  {
                    "name": "v",
                    "type": "float",
                    "description": "Volume."
                  },
                  {
                    "name": "c",
                    "type": "list",
                    "description": "List of trade conditions. A comprehensive list of trade conditions code can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1PUxiSWPHSODbaTaoL2Vef6DgU-yFtlRGZf19oBb9Hp0/edit?usp=sharing\">here</a>",
                    "item": {
                      "type": "string"
                    }
                  }
                ]
              }
            }
          ],
          "sampleCode": {
            "autoGenerated": false,
            "javascript": "const socket = new WebSocket('wss://ws.finnhub.io?token=<token>');\n\n// Connection opened -> Subscribe\nsocket.addEventListener('open', function (event) {\n    socket.send(JSON.stringify({'type':'subscribe', 'symbol': 'AAPL'}))\n    socket.send(JSON.stringify({'type':'subscribe', 'symbol': 'BINANCE:BTCUSDT'}))\n    socket.send(JSON.stringify({'type':'subscribe', 'symbol': 'IC MARKETS:1'}))\n});\n\n// Listen for messages\nsocket.addEventListener('message', function (event) {\n    console.log('Message from server ', event.data);\n});\n\n// Unsubscribe\n var unsubscribe = function(symbol) {\n    socket.send(JSON.stringify({'type':'unsubscribe','symbol': symbol}))\n}\n",
            "go": "package main\n\nimport (\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"github.com/gorilla/websocket\"\n)\n\nfunc main() {\n\tw, _, err := websocket.DefaultDialer.Dial(\"wss://ws.finnhub.io?token=<token>\", nil)\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tdefer w.Close()\n\n\tsymbols := []string{\"AAPL\", \"AMZN\", \"BINANCE:BTCUSDT\", \"IC MARKETS:1\"}\n\tfor _, s := range symbols {\n\t\tmsg, _ := json.Marshal(map[string]interface{}{\"type\": \"subscribe\", \"symbol\": s})\n\t\tw.WriteMessage(websocket.TextMessage, msg)\n\t}\n\n\tvar msg interface{}\n\tfor {\n\t\terr := w.ReadJSON(&msg);\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t\tfmt.Println(\"Message from server \", msg)\n\t}\n}\n",
            "python": "#https://pypi.org/project/websocket_client/\nimport websocket\n\ndef on_message(ws, message):\n    print(message)\n\ndef on_error(ws, error):\n    print(error)\n\ndef on_close(ws):\n    print(\"### closed ###\")\n\ndef on_open(ws):\n    ws.send('{\"type\":\"subscribe\",\"symbol\":\"AAPL\"}')\n    ws.send('{\"type\":\"subscribe\",\"symbol\":\"AMZN\"}')\n    ws.send('{\"type\":\"subscribe\",\"symbol\":\"BINANCE:BTCUSDT\"}')\n    ws.send('{\"type\":\"subscribe\",\"symbol\":\"IC MARKETS:1\"}')\n\nif __name__ == \"__main__\":\n    websocket.enableTrace(True)\n    ws = websocket.WebSocketApp(\"wss://ws.finnhub.io?token=<token>\",\n                              on_message = on_message,\n                              on_error = on_error,\n                              on_close = on_close)\n    ws.on_open = on_open\n    ws.run_forever()"
          },
          "sampleResponse": "{\n  \"data\": [\n    {\n      \"p\": 7296.89,\n      \"s\": \"BINANCE:BTCUSDT\",\n      \"t\": 1575526691134,\n      \"v\": 0.011467\n    }\n  ],\n  \"type\": \"trade\"\n}"
        }
      ]
    }
  ],
  "paths": {
    "/quote": {
      "get": {
        "summary": "Quote",
        "description": "<p>Get real-time quote data for US stocks. Constant polling is not recommended. Use websocket if you need real-time updates.</p><p>Real-time stock prices for international markets are supported for Enterprise clients via our partner's feed. <a href=\"mailto:support@finnhub.io\">Contact Us</a> to learn more.</p>",
        "operationId": "quote",
        "navHeader": "Quote",
        "urlId": "quote",
        "title": "Global Stocks, Forex, Crypto price",
        "examples": [
          {
            "url": "/quote?symbol=AAPL&token=<token>",
            "text": "/quote?symbol=AAPL"
          },
          {
            "url": "/quote?symbol=MSFT&token=<token>",
            "text": "/quote?symbol=MSFT"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": null,
        "highUsage": "High Usage",
        "tags": [
          "Default"
        ],
        "section": "Stock Price",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "description": "Symbol",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/Quote"
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.quote('AAPL'))",
          "go": "res, _, err := finnhubClient.Quote(context.Background()).Symbol(\"AAPL\").Execute()",
          "javascript": "finnhubClient.quote(\"AAPL\", (error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.quote('AAPL'))",
          "kotlin": "println(apiClient.quote(\"AAPL\"))",
          "php": "print_r($client->quote(\"AAPL\"));",
          "useTemplate": true
        },
        "sampleResponse": "{\n  \"c\": 261.74,\n  \"h\": 263.31,\n  \"l\": 260.68,\n  \"o\": 261.07,\n  \"pc\": 259.45,\n  \"t\": 1582641000 \n}",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "Quote": {
      "type": "object",
      "properties": {
        "o": {
          "description": "Open price of the day",
          "type": "number",
          "format": "float"
        },
        "h": {
          "description": "High price of the day",
          "type": "number",
          "format": "float"
        },
        "l": {
          "description": "Low price of the day",
          "type": "number",
          "format": "float"
        },
        "c": {
          "description": "Current price",
          "type": "number",
          "format": "float"
        },
        "pc": {
          "description": "Previous close price",
          "type": "number",
          "format": "float"
        },
        "d": {
          "description": "Change",
          "type": "number",
          "format": "float"
        },
        "dp": {
          "description": "Percent change",
          "type": "number",
          "format": "float"
        }
      }
    }
  }
}